<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="preload.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
    <link rel="stylesheet" type="text/css" href="jquery.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
    <TITLE>LPUtalk</TITLE>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body ng-app="talk">

    <div class="header container-fluid">
      <div class="row">
        <h1>Welcome to LPUtalk!</h1>
        <h4>We’re here to help students of Lyceum of the Philippines University get their voices heard by some of the top employers in the Philippines!</h4>
      </div>
      <div class="row">
        <div class="col-md-4"><img class="iconleft" src="../images/icons-09.png"></div>
        <div class="col-md-4"><img class="iconcenter" src="../images/icons-10.png"></div>
        <div class="col-md-4"><img class="iconright" src="../images/icons-11.png"></div>
      </div>
    </div>

    <div ng-controller="FormController" class="container-fluid">
      <form name="myFormNg" action="sendpdf.php" method="post">
        <div class="start">
        <h2>TO START...</h2>
        <h3>we need your full name</h3>
          <div class="fields">
            <div class="col-md-6 form-group">
              <input class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" type="text" name="firstName" placeholder="First Name" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="lastName"  ng-model="myForm.lastName" placeholder="Last Name" required>
            </div>
          </div>
          <h3 class="potentialEmployers">and how potential employers can contact you</h3>
          <div class="fields">
            <div class="col-md-6 form-group">
              <input class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" type="email" name="email" ng-model="myForm.email" placeholder="Email Address" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="phoneNumber"  ng-model="myForm.phoneNumber" placeholder="Phone Number" required>
            </div>
          </div>
        </div>

        <div class="education">
          <h2>NOW FOR YOUR EDUCATION...</h2>
          <h3>I'm majoring in</h3>
          <div class="degree">
            <input type="text" class="form-group form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="degree" ng-model="myForm.degree" placeholder="Degree (Specialisation)" required> <br/>
          </div>
        </div>

        <div class="dreamjob">
          <h2>AND MOST IMPORTANTLY... DREAM JOB!</h2>
          <h3 class="mobileh3">I'd like to work for</h3>
          <div class="radioSelect">
            <label class="bpo">
              <input type="checkbox" name="bpoJob" value="BPO">
              <span>Business Process Outsourcing (BPO)</span>
            </label>
            <label class="hrm">
              <input type="checkbox" name="hrmJob" value="HRM">
              <span>Hotel & Restaurant Management (HRM)</span>
            </label>
          </div>
          <div class="radioSelect" style="margin-top: -15px;" >
            <label class="it">
              <input type="checkbox" name="itJob" value="IT">
              <span>Information Technology (IT)</span>
            </label>
            <label class="other">
              <input type="checkbox" name="otherJob" value="Other">
              <span>Other</span>
              <div class="reveal-if-active">
                <div class="arrow-up"></div>
                <input class="form-group form-control form-control-lg ng-pristine ng-invalid ng-invalid-required" name="otherDreamJob" id="reveal-if-active" type="text">
            </label>
          </div>
        </div>

        <div class="legalSection">
          <h2>LET'S NOT FORGET THE LEGAL STUFF...</h2>
          <h3 class="readtc">Please read and agree to our <a href="terms-and-conditions.html" target="_blank">terms & conditions</a>.</h3>
          <div class="radioSelect">
            <label class="termsConditions">
              <input type="checkbox" name="termsConditions" ng-model="myForm.termsConditions" id="tc" required>
              <span>I AGREE TO THE ABOVE TERMS AND CONDITIONS</span>
            </label>
          </div>
        </div>

        <button class="button" type="submit">YOU MUST ACCEPT THE TERMS & CONDITIONS TO CONTINUE</button>
      </form>
    </div>

    <div class="footer">
      <div class="nav">
        <div class=".col-md-8 navTextLeft">
          <a href="about-us.html">ABOUT US</a>
          <a href="contact-us.html" class="contactNav">CONTACT US</a>
        </div>
        <div class=".col-md-4 navTextRight">
          <a href="terms-and-conditions.html">TERMS & CONDITIONS</a>
        </div>
      </div>

      <div class="nav-media">
        <div class=".col-md-4">
          <a href="about-us.html">ABOUT US</a>
        </div>
        <div class=".col-md-4">
          <a href="contact-us.html" class="contactNav">CONTACT US</a>
        </div>
        <div class=".col-md-4">
          <a href="terms-and-conditions.html">TERMS & CONDITIONS</a>
        </div>
      </div>

      <div class="logos .col-md-8">
        <a href="http://www.lpu.edu.ph/"><img class="lyceumLogo" src="http://upload.wikimedia.org/wikipedia/en/1/1e/Seal_of_Lyceum_of_the_Philippines_University.svg" href=""></a>
        <a href="http://www.talkpush.com"><img class="talkpushLogo" src="http://www.talkpush.com/wp-content/uploads/2014/12/logo-website-01.png"></a>
      </div>

      <div class="socialMedia">
        <a href="https://www.facebook.com/letthetalenttalk"><img class="facebook" src="../../images/facebook-128.png" style="max-width: 60px;"></a>

        <a href="https://twitter.com/Talkpush"><img class="twitter" src="../../images/twitter-128.png" style="max-width: 60px;"></a>

        <a href="https://www.linkedin.com/company/talkpush"><img class="linkedin" src="../../images/linkedin-128.png" style="max-width: 60px;"></a>
      </div>
    </div>

    <script type="text/javascript" src="app.js"></script>
  </body>
</html>